extends layout

block title

	title #{title}

block content

	h1 Photos
	
	form.form_style(action = '/feed', method = 'GET')
		div.control_group
			div.controls
				button.botton_style(type = 'submit', name='page', value='2') More

	form.form_style(action = '/photos/create', method = 'POST', enctype = 'multipart/form-data')
		div.control_group
			div.controls
				input(type = 'file', name = 'upload', value = 'Choose file')
				button.botton_style(type = 'submit') Upload photos