extends layout

block title

	title #{title}

block content

	div.container
		h1.form-signin-heading #{username}'s gallery

		if myPage == '0'
			form.form-signin(action = '/users/' + uid + '/follow', method = 'GET')
				button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Follow
		else if myPage == '2'
			form.form-signin(action = '/users/' + uid + '/unfollow', method = 'GET')
				button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Unfollow
		else
			form.form-signin(action = 'photos/new', method = 'GET')
				button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Upload

		div.row
			- var photos_array = JSON.parse(images);
			//- console.log(images)
			- for(var i = 0; i < photos_array.length ; i ++)
				- {
					//- console.log(photos_array.length);
					- var address = '';
					- var name = '';
					- var time = '';
					- var name_share = '';
					- for(var item in photos_array[i])
						- if(item === 'path')
							- {
								//- console.log(photos_array[i][item], photos_array[i][item].length);
								- if(photos_array[i][item].slice(0,1) === '/')
									- address = photos_array[i][item].slice(0,photos_array[i][item].length);
								- else if(photos_array[i][item].slice(0,1) === '.')
									- address = photos_array[i][item].slice(1,photos_array[i][item].length);
								//- name_share = '/share' + address;
								- console.log(address);
							- }
						- else if(item === 'name')
							- {
								//- console.log(photos_array[i][item]);
								- name = photos_array[i][item];
							- }
						- else if(item === 'time')
							- {
								- time = photos_array[i][item];
							- }
					div.col-xs-4
						div.thumbnail
							img(src = address)
							div.caption
								h3 #{name}
								p #{time}
								//a(href = name_share, class = "btn btn-default", role = "button") Share
				- }

		form.form-signin(action = '/feed', method = 'GET')
			button(type = 'submit', name = 'page', value = preq, class = 'btn btn-lg btn-primary btn-block') More

		form.form-signin(action = '/logout', method = 'GET')
			button(type = 'submit', value = 'Log out', class = 'btn btn-lg btn-primary btn-block') Log out