div.container

	h1 SnapGram

	//div(class = 'navbar navbar-inverse')

		//div.nav-collapse(style = 'height: auto;')

			//ul.nav
			
				//li.active
					//a(herf = '#') home
					
				//li
					//a(herf = '#') Login
					
				//li
					//a(herf = '#') Info