doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/image.css')

    block title

  body
    include head1
    block content
    include foot