doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //script(src = '/js/jquery-2.1.0.js')
    //script(src = '/js/bootstrap.js')
    link(rel = 'stylesheet', href = '/stylesheets/style.css')
    link(rel = 'stylesheet', href = '/stylesheets/image.css')
    link(rel = 'stylesheet', href = '/stylesheets/bootstrap.css')

    block title

  body
    include head_navigate
    block content
    include foot