extends layout

block title

	title #{title}

block content

	if(error != '')
		p !{error}

	div.container
		form.form-signin(action = '/sessions/create', method = 'post')
			h2.form-signin-heading Please log in:

			//label(for = 'input_UserName') Your Username
			input.form-control(name = 'username', type = 'text', placeholder = 'input username', required autofocus)

			//label.form-control(for = 'input_Password') Password
			input.form-control(name = 'password', type = 'password', placeholder = 'input password', required)

			button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Sign in

			button(class = 'btn btn-lg btn-primary btn-block', onclick = "window.location.href = 'users/new'") Sign up

			br
			p.small
				em Hint: try "Thor" and "123456"
