extends layout

block title

	title #{title}

block content

	if(error != '')
		p !{error}

	div.container
		form.form-signin(action = '/sessions/create', method = 'post')
			h2.form-signin-heading Please log in:

			input.form-control(name = 'username', type = 'text', placeholder = 'input username', required autofocus)

			input.form-control(name = 'password', type = 'password', placeholder = 'input password', required)

			button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Sign in

		form.form-signin(action = '/users/new', method = 'GET')
			button(class = 'btn btn-lg btn-primary btn-block', type = 'submit') Sign up

			br
