extends layout

block title

	title Sign up

block content

	if(error != '')
		p !{error}

	div.container

		br

		form.form-signin(action = '/users/create', method = 'post')

			h2.form-signin-heading Please Sign up:

			input.form-control(name = 'fullname', type = 'text', placeholder = 'input fullname', required autofocus)

			input.form-control(name = 'username', type = 'text', placeholder = 'input username', required)

			input.form-control(name = 'password', type = 'password', placeholder = 'input password', required)

			button(class = 'btn btn-lg btn-primary btn-block', type = 'submit', value = 'Sign up') Sign up

			button(class = 'btn btn-lg btn-primary btn-block', type = 'reset') Reset

			p.small
				em Already have an account? Press 
				a(href = '/sessions/new') here
				|  to Log in.
