extends layout

block title

	title #{title}

block content

	P
		strong Please upload your picture :

	form.form_style(action = '/photos/create', method = 'POST', enctype = 'multipart/form-data')
		div.control_group
			div.controls
				input(type = 'file', name = 'image', value = 'Choose file')
				button.botton_style(type = 'submit') Upload photos