extends layout

block title

	title #{title}

block content

	if(error != '')
		p !{error}

	div.container
		form.form-signin(action = '/photos/create', method = 'POST', enctype = 'multipart/form-data')

			h2.form-signin-heading Please upload

			input(type = 'file', name = 'image', value = 'Choose file', class = 'btn btn-lg btn-primary btn-block', style = 'opacity:1')

			button(type = 'submit', class = 'btn btn-lg btn-primary btn-block') Upload photos
			
			br
			br
			br

		form.form-signin(action = '/feed', method = 'GET')
			button(class = 'btn btn-lg btn-primary btn-block', type = 'submit') Back